@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Angkor&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color:#333333;
    --secondary-color:#D5CCC7;
    --accent1-color:#A9A29C;
    --accent2-color: #28262B;

    --heading-font: 'Angkor', serif;
    --paragraph-font: 'Anek Devanagari', serif;

    --nav-background-color: #333;
    --nav-link-color: #fff;
    --nav-hover-link-color: #ccc;
    --nav-hover-background-color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color); 
}

h2 {
  display: inline;
}
	 
p {
    padding: 25px;
    display: block;

}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    margin: 1px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    background-color: var(--nav-background-color);
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid #CCCCCC;
    margin: 1px;
  }
  
  footer p, a {
    font-size: 18px;
    color: #fff;
    margin: 0;
    
  }
  
  footer .sociallinks a {
    text-decoration: none;
    margin-right: 15px;
    margin-left: 1px;
  }
  
  footer nav.sociallinks a img {
    height: 40px;
    width: auto;
  }

  header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    margin: 1rem auto;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #ccc;
  }
  
  header img {
    margin: 0 0.20rem 0 1rem;
    height: 100px;
    width: auto;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  header nav a:hover {
    text-decoration: none;
  }
  
  .hero {
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  
  .hero img {
    width: 100%;
    height: auto;
    margin: 15px;
  }
  
  .hero h1 {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: auto;
  }
  
  .hero article {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
  }
  
  .hero article img {
    float: right;
    margin-right: 20px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .hero article p {
    font-size: 20px;
    line-height: 1.4;
  }
  
  section {
    margin: 40px;
    padding: 20px;
    text-align: center;
  }
 
  section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }

  section p {
    font-size: 20px;
    line-height: 1.4;
    color: #666;
  }
  
  section img {
    display: grid;
    margin-top: 40px;
    width: 30%;
    height: auto;
    object-fit: cover;
  }

  #adventure {
    margin-top: -0px;
  }

  .picture-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 100px;
  }
  
  .picture-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    order: -1;
  }

  figcaption {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent2-color); 
  }

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.form {
  grid-row-start: 2;
  grid-row-end: span 4;
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
}

.contact {
  grid-column-start: 1;
  grid-row-start: 2;
}

.map {
  grid-column-start: 1;
  grid-row: 3;
}

.customers {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px; /* reduced padding */
}

.customers img {
  align-items: center;
  display: grid;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 5px; /* added margin to create some space between the images */
}


fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}

label {
  text-align: right;
  padding-right: 1rem;
}

input[type="text"],input[type="email"], textarea, select {
  width: 100%;
  margin: 8px 0;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

#send {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border:none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: darkgreen;
}