@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color:#333333;
    --secondary-color:#D5CCC7;
    --accent1-color:#A9A29C;
    --accent2-color: #28262B;

    --heading-font: 'Source Sans 3';
    --paragraph-font: 'Roboto';

    --nav-background-color: #333;
    --nav-link-color: #fff;
    --nav-hover-link-color: #ccc;
    --nav-hover-background-color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: bolder;
    color: var(--primary-color); 
}

h2 {
  display: inline-block;
  margin: 10px;
}
	 
p {
    padding: 25px;
    display: block;

}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    margin: 1px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    font-family: 'Source Sans 3';
    font-weight: bold;
    background-color: var(--nav-background-color);
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid #CCCCCC;
    margin: 1px;
  }
  
  footer p, a {
    font-size: 18px;
    color: #fff;
    margin: 0;
    
  }
  
  footer .sociallinks a {
    text-decoration: none;
    margin-right: 15px;
    margin-left: 1px;
  }
  
  footer nav.sociallinks a img {
    height: 40px;
    width: auto;
  }

  header {
    font-family: 'Source Sans 3';
    font-weight: bold;
    display: grid;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    margin: 1rem auto;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #ccc;
  }
  
  header img {
    margin: 0 0.20rem 0 1rem;
    height: 100px;
    width: auto;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  header nav a:hover {
    text-decoration: none;
  }
  
  .hero {
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  
  .hero img {
    width: 100%;
    height: auto;
    margin: 15px;
  }
  
  .hero h1 {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: auto;
  }
  
  .hero article {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
  }
  
  .hero article img {
    float: right;
    margin-right: 20px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .hero article p {
    font-size: 20px;
    line-height: 1.4;
  }
  
  section {
    margin: 40px;
    padding: 20px;
    text-align: center;
  }
 
  section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }

  section p {
    font-size: 20px;
    line-height: 1.4;
    color: #666;
  }

  #adventure {
    margin-top: -0px;
  }

  .picture-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 100px;
  }
  
  .picture-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    order: -1;
  }

  figcaption {
    text-align: center;
    font-family: var(--heading-font);
    font-weight: bold;
    color: var(--accent2-color); 
  }

.maincontact {
  display: grid;
  grid-template-columns: 40% auto;
  text-align: center;
}

.form {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: -6em auto 1em auto;
  padding: 10em 23em 1em 23em;
}

.form fieldset {
  margin: -5em -20em 0em -20em;
  padding: 1em;
  border: none;
}

.contact {
  grid-column-start: 1;
  grid-row-start: 2;
}

.map {
  grid-column-start: 1;
  grid-row-start: 2;
  width: 40em;
  margin-top: 18em;
  margin-bottom: 2em;
}

iframe {
  width: 30em;
  height: 20em;
}

.customers {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.customers img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.image1 {
 margin-right: -10em;
}

.image3 {
  margin-left: -10em;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}

label {
  text-align: right;
  padding-right: 1rem;
}

input[type="text"],input[type="email"], textarea, select {
  width: 100%;
  margin: 8px 0;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

.header {
  border-bottom: 1px solid #000;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 2em;
}

.header h1 {
  font-family: var(--heading-font);
  font-weight: bolder;
  font-size: 4em;
  margin-bottom: -35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact h2 {
  background-color: var(--nav-hover-background-color);
  font-family: var(--heading-font);
  font-weight: bolder;
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 30px;
}

.contact ul{
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: large;
  list-style: none;
  text-align: center;
  margin-left: -2em;
  color: var(--nav-hover-background-color);
}

ul li {
  margin-top: 1em;
  
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--nav-background-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  font-size: 1.2rem;
}

button[type="submit"]:hover {
  background-color: var(--nav-hover-background-color);
}

fieldset p {
  margin-top: -40px;
}

.radio p {
  margin-top: -30px;
  margin-bottom: -5px;
}

.form-container {
  display: flex;
  gap: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.radio {
  margin-top: 3em;
}

.message {
  margin-top: 3em;
  text-align: left;
}

input[type], textarea {
  border-color: #000;
}

.trip-pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
  font-family: var(--heading-font);
}

.trip-pictures img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h2 a {
  color: var(--accent2-color);
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
}

.article-book {
  color: var(--nav-link-color);
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  padding: 0px;
  margin-top: 0px;
}

.trip-detail {
  line-height: 2;
  margin-top: -5px;
  margin-bottom: 30px;
}

.trip-detail-item {
  margin-right: 10px;
  white-space: nowrap;
  color: var(--nav-hover-background-color);
}

.trip-detail-label {
  font-weight: bold;
}

.trip-detail-value {
  white-space: normal;
}

.trip-detail-button, .book {
  background-color: var(--nav-background-color);
  text-decoration: none;
  border-radius: 22px;
  padding: 10px;
}

.trip-detail-button:hover, .book:hover {
  background-color: var(--nav-hover-background-color);
}

.booknow {
  height: 400px;
  overflow: hidden;
}
 
.booknow img {
  width: 100%;
  height: auto;
  margin: 15px;
  margin-top: -1000px;
}

.booknow article {
  position: absolute;
  bottom: 93px;
  left: 83px;
  right: 53px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
}

.booknow h1 {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
  text-decoration: none;
}

.booknow h2 {
   margin-top: -20px;
   background-color: #28262B;
   border-radius: 30px;
   padding: 10px;
}

.booknow h2:hover {
  background-color: var(--nav-hover-background-color);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  table-layout: fixed;
}

thead {
  font-family: var(--heading-font);
  font-weight: bolder;
  font-size: 25px;
  color: var(--accent2-color);
}

th, td {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  font-family: var(--paragraph-font);
  width: 33.33%;
  color: var(--nav-background-color);
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tdcolumn1 {
  font-weight: bold;
}

.mainhome {
  display: grid;
}

.home-page-photo {
  width: 100%;
  height: auto;
  margin: 15px;
}

.home-page img {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 500px;
  object-fit: cover;
  object-position: 50% 40%;
  
}

.home-page h1 {
  font-family: var(--heading-font);
  position: absolute;
  top: 45%;
  left: 11%;
  transform: translate(-15%, -88%);
  text-align: left;
  color: white;
  font-size: 70px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}

.bottomh1 {
  font-family: var(--paragraph-font);
  position: absolute;
  top: 70%;
  left: 7%;
  transform: translate(-8%, -88%);
  text-align: left;
  color: white;
  font-size: 60px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}

.home-page a {
  position: absolute;
  font-family: var(--paragraph-font);
  font-weight: bold;
  top: 77%;
  left: 7%;
  transform: translate(-20%, -88%);
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--accent2-color);
  padding: 25px;
  border-radius: 22px;
}

.home-page a:hover{
  background-color: var(--nav-hover-background-color);
}

.home-page-picture-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.home-page-picture-container img {
  width: 120%;
  height: 200px;
  margin-left: -30px;
  margin-top: 10px;
  object-fit: cover;
}

.home-page-picture-container h2 {
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: large;
  text-align: center;
  margin-left: 40px;
}

.home-page-picture-button {
  text-align: center;
  margin: 20px 110px 20px 110px;
  grid-row: 2;
  font-family: var(--heading-font);
  background-color: var(--nav-background-color);
  text-decoration: none;
  border-radius: 22px;
  padding: 10px;
}

.home-page-picture-button:hover {
  background-color: var(--nav-hover-background-color);
}

.home-page-form {
  background-color: var(--nav-hover-link-color);
  border-radius: 22px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 70px;
  width: 90%;
  height: auto;
  padding: 50px;
 
}

.home-page-form legend, p, fieldset {
  font-family: var(--paragraph-font);
  text-align: center;
  border: none;
}

.home-page-form input[type="text"], .home-page-form [type="email"] {
  width: 50%;
}

.home-page-form button {
  background-color: var(--nav-background-color);
  width: auto;
  object-fit: cover;
}

.home-page-form button:hover {
  background-color: var(--nav-hover-background-color);
}