@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Angkor&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

:root {
    --primary-color: #3587A4;
    --secondary-color: #2D848A;
    --accent1-color: #88CCF1;
    --accent2-color: #C1DFF0;

    --heading-font: 'Angkor', serif;
    --paragraph-font: 'Anek Devanagari', serif;

    --nav-background-color: #333;
    --nav-link-color: #fff;
    --nav-hover-link-color: #ccc;
    --nav-hover-background-color: #444;
  }

 h1 {
    font-family: var(--heading-font);
    color: var(--primary-color); 
    text-align: center;
  }

 h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color); 
  }

header {
    background-color: var(--accent1-color);
    padding: 20px;
  }

p {
    padding: 25px;

}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}